<?xml version="1.0" encoding="UTF-8"?>
<configuration status="DEBUG" monitorInterval="30">
    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{%-5level} [%t] %highlight{%c{1.}.%M(%L)}: %msg%n" />
        </console>
    </appenders>
    <loggers>
        <logger name="love.forte" level="DEBUG" />
        <root level="INFO">
            <appender-ref ref="Console"/>
        </root>
    </loggers>
</configuration>